//Frontend Mentor base apparel coming soon challenge -> _buttons.scss
//Partial scss file for layout rules.

@use "../abstracts/variables";

body {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 1fr 250px 5fr;
}

.header {
  display: flex;
  align-items: center;

  @at-root .header__logo {
    margin-left: 8%;
    max-width: 28%;
    min-width: 5rem;
  }
}

.hero {
  background: lightgoldenrodyellow;
  overflow: hidden;

  @at-root .hero__img {
    min-width: 100%;
  }
}

.main {
  background: variables.$bgGradient;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
  padding: 0 8%;
  text-align: center;
}
