//Frontend Mentor base apparel coming soon challenge -> _variables.scss
//Partial scss file for variables.

//#------------------------------Colors---------------------------------------
//## Primary
$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);

//## Neutral
$darkGrayishRed: hsl(0, 6%, 24%);

//## Gradients
$bgGradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$btnGradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
//#------------------------------/Colors---------------------------------------

//#------------------------------Typography---------------------------------------
//## Font stack
$fontStack: "Josefin Sans", sans-serif;

//## Sizes
$fontSizes: (
  paragraph: 1rem,
  heading: 3rem,
);

//## Weights
$fontWeights: (
  light: 300,
  regular: 400,
  semiBold: 600,
);

//## Default fontRule
$defaultFontRule: map-get($fontWeights, regular) map-get($fontSizes, paragraph)
  $fontStack;
//#------------------------------/Typography---------------------------------------
